/* 欢迎使用guiPlan,以下代码均由guiPlan软件生成，如有疑问添加添加作者微信guiplan或加入学习交流qq群711964722  */
.main {
    margin: 0px;
    padding: 0px;
}

.KeShiHuaDaPingcssStart {}

.u8cdd8 {
    display: inline-block;
    width: 1920px;
    height: 960px;
    background-image: -webkit-radial-gradient(50% 35%, ellipse farthest-corner, rgb(3, 79, 142), rgb(3, 73, 135), rgb(2, 54, 109), rgb(0, 35, 83));
}

.u3b3d5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    flex-direction: row;
}

.ue8120 {
    font-weight: normal;
    font-size: 200%;
    text-align: center;
    color: rgba(245, 241, 241, 1);
    padding-left: 20px;
    padding-right: 20px;
}

.uczun6h {
    display: block;
    font-size: 33px;
    color: rgb(0, 102, 204);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: rgb(0, 102, 204);
    font-weight: 700;
    text-align: start;
}

.uc735f {
    display: flex;
    height: 100%;
    flex: auto;
    flex-direction: row;
}

.ucr4hxo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
    text-align: start;
    padding-top: 0px;
    padding-bottom: 0px;
}

.uckjs3h {
    display: inline-block;
    list-style-type: none;
    position: relative;
    color: rgb(255, 255, 255);
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-left: 15px;
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 25px;
}

.ucncsvi {
    display: block;
    list-style-type: none;
    position: relative;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: rgb(255, 255, 255);
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.u4d228 {
    width: 10px;
    height: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-top-color: rgba(242, 237, 237, 1);
    border-top-style: solid;
    border-left-style: solid;
}

.u633e6 {
    position: absolute;
    left: auto;
    right: 0px;
    border-left-style: none;
    border-right-style: solid;
    border-right-width: 2px;
}

.ucb125 {
    position: absolute;
    left: 0px;
    top: auto;
    bottom: 0px;
    border-top-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.u7ee79 {
    position: absolute;
    left: auto;
    top: auto;
    right: 0px;
    bottom: 0px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.ucfowo7 {
    display: block;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-right: 30px;
}

.ub2e66 {
    display: flex;
    width: 100%;
    height: 62%;
    margin-top: 0%;
}

.u0c626 {
    display: block;
    width: 21.5%;
    margin-left: 10px;
}

.u20f10 {
    display: block;
    list-style-type: none;
    position: relative;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-bottom: 12px;
    border-bottom-style: solid;
    border-bottom-color: rgba(7, 118, 181, 0.5);
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(7, 118, 181, 0.5);
    border-top-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(7, 118, 181, 0.5);
    border-left-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(7, 118, 181, 0.5);
    border-right-width: 1px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.ucbvacv {
    display: block;
    list-style-type: none;
    position: relative;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-color: rgba(7, 118, 181, 0.7);
    border-bottom-width: 1px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    font-weight: 500;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.u0759a {
    display: block;
    list-style-type: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.uc975ub {
    display: table;
    list-style-type: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.ucu7gfr {
    display: table-row-group;
    list-style-type: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.ucfwfr1 {
    display: table-row;
    list-style-type: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.uc6dnhf {
    display: table-cell;
    list-style-type: none;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: solid;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.ucpgiv5 {
    display: table-cell;
    list-style-type: none;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: solid;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.uce6i92 {
    display: table-cell;
    list-style-type: none;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: solid;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.ucuv4rr {
    display: table-cell;
    list-style-type: none;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: solid;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.uc9cax6 {
    display: table-row;
    list-style-type: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.uciv2zm {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.uclq1kd {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.uclfufm {
    display: inline;
    list-style-type: none;
    font-size: 12px;
    color: rgb(255, 228, 0);
    text-align: center;
}

.ucflvzr {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.ucct7bx {
    display: inline;
    list-style-type: none;
    font-size: 12px;
    color: rgb(7, 229, 255);
    text-align: center;
}

.ucawixg {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.ucz741h {
    display: block;
    list-style-type: none;
    font-size: 12px;
    color: rgb(255, 99, 22);
    text-align: center;
}

.uck43c1 {
    display: table-row;
    list-style-type: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.uch92je {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.uc35l4p {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.uch6dfj {
    display: inline;
    list-style-type: none;
    font-size: 12px;
    color: rgb(255, 228, 0);
    text-align: center;
}

.uc3x4pq {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.uc6ztt3 {
    display: inline;
    list-style-type: none;
    font-size: 12px;
    color: rgb(7, 229, 255);
    text-align: center;
}

.uczm43v {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.uc7pavm {
    display: block;
    list-style-type: none;
    font-size: 12px;
    color: rgb(20, 225, 68);
    text-align: center;
}

.uc4djl3 {
    display: table-row;
    list-style-type: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.uc391cc {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.ucvd3pn {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.ucn4pcl {
    display: inline;
    list-style-type: none;
    font-size: 12px;
    color: rgb(255, 228, 0);
    text-align: center;
}

.ucwv1ax {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.uc8q4hf {
    display: inline;
    list-style-type: none;
    font-size: 12px;
    color: rgb(7, 229, 255);
    text-align: center;
}

.uckm956 {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.ucvf8q2 {
    display: block;
    list-style-type: none;
    font-size: 12px;
    color: rgb(255, 99, 22);
    text-align: center;
}

.ucwhfpd {
    display: table-row;
    list-style-type: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.ucg9vde {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.ucwk26n {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.ucbajsf {
    display: inline;
    list-style-type: none;
    font-size: 12px;
    color: rgb(255, 228, 0);
    text-align: center;
}

.uczb3ha {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.uc5v27m {
    display: inline;
    list-style-type: none;
    font-size: 12px;
    color: rgb(7, 229, 255);
    text-align: center;
}

.uc1zl9l {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(64, 122, 189);
    border-bottom-width: 1px;
}

.ucdhqa1 {
    display: block;
    list-style-type: none;
    font-size: 12px;
    color: rgb(20, 225, 68);
    text-align: center;
}

.ucngs81 {
    display: table-row;
    list-style-type: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.uc1vvsz {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.ucegxvd {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.uc69no2 {
    display: inline;
    list-style-type: none;
    font-size: 12px;
    color: rgb(255, 228, 0);
    text-align: center;
}

.ucrjnaa {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.uc32bvt {
    display: inline;
    list-style-type: none;
    font-size: 12px;
    color: rgb(7, 229, 255);
    text-align: center;
}

.uckal4z {
    display: table-cell;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.ucsi48l {
    display: block;
    list-style-type: none;
    font-size: 12px;
    color: rgb(255, 99, 22);
    text-align: center;
}

.u60b1f {
    height: 206px;
    flex: auto;
}

.line3chart {
    width: 100%;
    height: 100%;
}

.udc714 {
    flex: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.u3ca6f {
    display: flex;
    width: 524px;
    height: 422px;
}

.u20f10 {
    height: 45%;
}

.uc089d {
    height: 45px;
}

.u0759a {
    flex: auto;
}

.uc4d82 {
    height: 54%;
}

.u35035 {
    display: flex;
    height: 28%;
    flex: none;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

.ue4d8b {
    flex: auto;
}

.uckjs3h:hover .u4d228 {
    border-color: rgba(230, 204, 14, 1);
}

.uckjs3h:hover a {
    color: rgba(230, 204, 14, 1);
}

.KeShiHuaDaPingcssEnd {}